<!--
    Posts Basic Tags Display
    Brendan Thompson

    A basic Posts display page with images and texts sorted by Tags
 -->


 <div class="container">

		{% for tag in site.tags %}
			{% assign tag_name = tag | first %}
			{% assign posts = tag | last %}

			<div class="post-display">
				<h2 id="{{ tag_name | slugify }}">{{ tag_name }}</h2>
			</div>

			<ul class="post-display">
				{% for post in site.posts %}
				{% if post.tags contains tag_name %}
				{% if post.categories contains "blog" %}
			    <li class="row">
			      	<div class="six columns">
			    	 	<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
			    	 	<p>{{ post.excerpt }}</p>
			      	</div>

			      	<div class="six columns">
			        	<img alt="{{ post.imageAlt }}" src="{{ site.url }}{{ post.image-slider }}">
			      	</div>
			    </li>
			    {% endif %}
			    {% endif %}
				{% endfor %}
			</ul>

		{% endfor %}
</div>