<!--
    Projects Display Include
    Brendan Thompson

    A project display page where hovering over the image reveals the text
 -->

<div class="row reveal-display">
    <div class="five columns reveal-display-item"></div>
    <div class="five columns reveal-display-item"></div>

    {% for page in site.categories.projects %}
    <div class="five columns reveal-display-item">

        <img class="reveal-display-image" alt="{{ page.imageAlt }}" src="{{ site.url }}{{ page.image-slider }}">

        <a href="{{ site.url }}/{{ page.url }}">
            <div class="reveal-display-description">
                <h1 class="reveal-display-title">{{ page.title }}</h1>

                <p class="reveal-display-text">{{ page.excerpt }}</p>
            </div>
        </a>

    </div>
    {% endfor %}
</div>
