<!--
    Projects Flexslider Display
    Brendan Thompson

    A Flexslider displaying Projects with images and captions sorted chronologically
 -->

 <div>
  	<div class="home-title">
    	<h3>Featured Projects</h3>
  	</div>

	<div class="flexslider">
		<ul class="slides">
	  		{% for page in site.categories.projects %}
	  		<li data-thumb="{{ page.image-slider }}">
	  			<a href="{{ site.url}}{{ page.permalink }}">
		    		<img src="{{ page.image-slider }}">
		    		<p class="flex-caption">{{ page.excerpt }}</p>
		    	</a>
	 		</li>
	  		{% endfor %}
		</ul>
	</div>
	<p style="text-align: center"><a href="{{ site.url }}/projects">See All Projects</a></p>
</div>
