<!--
    Projects Basic Recent Display
    Brendan Thompson

    A basic Projects display page with images and texts hardcoded with only the "featured" projects of the time
 -->

<div class="container">

    <div class="home-title">
        <h3>Featured Projects</h3>
    </div>

    <div class="row projects-display">
        <div class="six columns">
            <div class="images">
                <img alt="Awesome Check In" src="{{ site.url }}/assets/img/project-images/awesome-checkin/checkin-screensaver.png">
            </div>
            <div class="container">
                <div class="six columns">
                    <a class="project-link" href="https://github.com/ainc/awesomeinc2013">Github Repository</a>
                </div>
                <div class="six columns">
                    <a class="project-link" href="{{ site.url }}/awesome-check-in">Check In Project Page</a>
                </div>
            </div>
            <div class="container">
                <div class="six columns">
                    <a class="project-link" href="{{ site.url }}/ionic-3">Ionic Intro Post</a>
                </div>
                <div class="six columns">
                    <a class="project-link" href="{{ site.url }}/integrating-slack">Integrating Slack Post</a>
                </div>
            </div>
        </div>

        <div class="six columns">
            <h5> Awesome Check In </h5>
            <li> Developed Using The Ionic Framework </li>
            <li> Utilized Angular, Cordova, Bootstrap, and other Web Technology</li>
            <li> Integrates with the Slack Messaging API </li>
            <p>The Awesome Check In mobile application is used by Awesome Inc to check in their guests and alert the appropriate team members.</p>
        </div>
    </div>


    <div class="row projects-display">
        <div class="six columns images">
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/a1Yp0_OP7N0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="six columns">
            <h5> Traffic Cop Hero 1000 </h5>
            <li> Created with Unity game Development Software </li>
            <li> Programmed Scripts in C# </li>
            <li> As a team developed the artwork, music, and gameplay </li>
            <p>Traffic Cop Hero 1000 is a Galaga inspired shooter developed by Brendan Thompson, Griffin Cobb, and Kelsey McCoy for a Transylvania University month long May Term Game Design Class.
            </p>
            <div class="container">
                <div class="six columns">
                    <a class="project-link" href="https://brenthompson2.itch.io/traffic-cop-hero-1000">Official Website</a>
                </div>
                <div class="six columns">
                    <a class="project-link" href="{{ site.url }}/traffic-cop-hero-1000">Project Page</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row projects-display">

        <div class="six columns">
            <div class="images">
                <img alt="Transy Compiler & Executor" src="{{ site.url }}/assets/img/transy-logo-bat.png">
            </div>
            <div class="container">
                <div class="six columns">
                    <a class="project-link" href="https://github.com/brenthompson2/Compiler-Construction">Github Repository</a>
                </div>
                <div class="six columns">
                    <a class="project-link" href="{{ site.url }}/transy-compiler-executor">The Official Project Page</a>
                </div>
            </div>
        </div>

        <div class="six columns">
            <h5> Transy Compiler & Executor </h5>
            <li> Created an Compiler to compile code from the Transy Language into Transy Object Code </li>
            <li> Developed an Executor that takes in Transy Object Code and emulates </li>
            <li> Advanced C++ Development</li>
            <p>This project is a fully functioning Compiler & Executor for the Transy Language Specification developed for the fall 2017 Compiler Construction class at Transylvania University</p>
        </div>
    </div>


    <div class="row projects-display">
        <div class="six columns">
            <h5> Audio Synthesizer Development </h5>
            <ul>
                <li>Audio Programming in C++</li>
                <li>Self Taught JUCE Framework</li>
                <li>Synthesizer Design</li>
            </ul>
            <p>For the summer of 2017 I used the JUCE framework to develop audio application. I have few basic additive synthesizers with volume and frequency control. I learned a lot about audio software, and am looking forward to getting back into it soon</p>
        </div>

        <div class="six columns">
            <div class="images">
                <img alt="JUCE" src="{{ site.url }}/assets/img/post-images/juce-logo.png">
            </div>
            <div class="container">
                <div class="six columns">
                    <a class="project-link" href="https://github.com/brenthompson2/JUCE-Summer-Project">Github Repository</a>
                </div>
                <div class="six columns">
                    <a class="project-link" href="{{ site.url }}/juce-intro">My JUCE Intro Post</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row projects-display">
        <div class="six columns">
            <div class="images">
                <img alt="Formant Filter" src="{{ site.url }}/assets/img/project-images/max-formant-analysis/formant-filter.png">
            </div>
            <div class="container">
                <div class="six columns">
                    <a class="project-link" href="https://github.com/brenthompson2/Formant-Analysis">Github Repository</a>
                </div>
                <div class="six columns">
                    <a class="project-link" href="{{ site.url }}/max-formant-analyzer">Formant Filter Project Page</a>
                </div>
            </div>
        </div>

        <div class="six columns">
            <h5>Formant Analysis</h5>
            <li>Created Patches that analyze, synthesize, and filter Formants</li>
            <li>Developed using advanced Max MSP software</li>
            <p>There are two different patches within this project. The Formant Generator is a sine wave synthesizer that produces vowel sounds whereas the Formant Filter takes advantage of the Fast Fourier Transform in order to silence all frequencies below the selected cutoff amplitude. They was developed for the fall 2017 Music Cognition class at Transylvania University</p>
        </div>
    </div>

</div>

