<div class="container">

  <div class="row">
    <div class="six columns home-about">
    	<h3> About Me </h3>
		  <p> I am graduating May 2018 from Transylvania University with a Bachelor of Arts Major in Computer Science and a Minor in Psychology. I dream of becoming a successful Software Developer. In my free time I can usually be found hanging out with friends, exploring this incredible planet, jamming out to some good tunes, or otherwise staying active. Since I was in 5th grade I have been playing lacrosse, and am proud to have made it to the NCAA DIII Mens Lacrosse Tournament last spring with the Transylvania Pioneers. This summer I have started backpacking and have fallen in love with Red River Gorge. For me, living the dream is working hard at something meaningful, surrounding myself with friends and family, adventuring around the globe, and making the most out of every day.
		  </p>
    </div>

    <div class="six columns">
		  <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
        <div style="padding:8px;">
          <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;">
            <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;">
            </div>
          </div>
          <p style=" margin:8px 0 0 0; padding:0 4px;">
            <a href="https://www.instagram.com/p/BXgdV5igzca/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Had an awesome time hiking to Hidden Arch at Red River Gorge with Ryan, Kayla, Roxy, Shelby, and Auroara 08-05-17</a>
          </p>
          <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Brendan Thompson (@brenthompson2) on
            <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-08-07T21:10:24+00:00">Aug 7, 2017 at 2:10pm PDT</time>
          </p>
        </div>
      </blockquote>
      <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
    </div>
  </div>

  <div class="row home-details">
    <h3> My Expertise </h3>
    <p> Most of my coding experience so far has been creating console applications in object-oriented paradigms. With the amount of theory I have learned so far, I feel confident in my ability to pickup and utilize new languages, even through teaching myself. My only experience with Interface programming comes from Unity Game Design, self-taught JUCE Audio Application development, a Microsoft Visual Basic class Senior year of High School, and some casual HTML/CSS web design over the years. Otherwise I have worked on projects in Java, Common LISP, Prolog, and MIPS Assembly Language.
	 </p>
  </div>

  <div class="row home">

    <div class="four columns">
      <h4>Web</h4>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <p>This website was designed using <a href="https://jekyllrb.com">Jekyll</a> and <a href="https://pages.github.com">GitHub Pages</a> so I am comfortable with <a href="simpleprimate.com/jekyll-for-designers/blog/front-matter/">YAML Front Matter</a> and <a href="https://github.com/Shopify/liquid/wiki">Liquid templates</a>. It also uses <a href="getskeleton.com">Skeleton</a>, a simple 12-column responsive boilerplate for UI styling. Throughout the years I have gained a decent amount of experience with HTML5 and CSS</p>
    </div>

    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <!--
		  <p>I have over three years worth of experience in C based languages (C, C++, C#). I have also developed projects in Java, Microsoft Visual Basic, LISP, Prolog, and MIPS. I also taught myself how to use the JUCE C++ Audio framework.</p>
      -->
      <ul style="font-size:16px; text-align:left">
        <li>C, C++, C#</li>
        <li>Java</li>
        <li>Microsoft Visual Basic</li>
        <li>Common LISP</li>
        <li>Prolog</li>
        <li>MIPS</li>
      </ul>
    </div>

    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-photoshop-plain colored"></i>
      <!--
      <p> Ubuntu 16.04, GitHub, Unity, Google Scratch, JUCE, MaxMSP, Photoshop, Gimp, Ableton, ProTools, Garageband, LMMS</p>
      -->
      <dl style="font-size:16px; text-align:left">
        <dt>General:</dt>
          <li style="font-size:75%">Ubuntu 16.04, GitHub</li>
        <dt>Game Development:</dt>
          <li style="font-size:75%"><a href="https://unity3d.com">Unity</a>, <a href="https://scartch.mit.edu">Scratch</a>, <a href="https://www.scirra.com/construct2">Construct 2</a></li>
        <dt>Audio Software Development:</dt>
          <li style="font-size:75%"><a href="https://www.juce.com">JUCE</a>, <a href="https://cycling74.com/products/max">Max</a></li>
        <dt>Graphic Design:</dt>
          <li style="font-size:75%"><a href="www.adobe.com/products/photoshop.html">Photoshop</a>, <a href="https://gimp.org">Gimp</a></li>
        <dt>Music Production:</dt>
          <li style="font-size:75%"><a href="https://www.ableton.com/en/live/">Ableton</a>, <a href="www.avid.com/pro-tools?cid=homepage">ProTools</a>, <a href="https://www.apple.com/mac/garageband">Garage Band</a>, <a href="https://lmms.io">LMMS</a></li>
        <dt>Video Production:</dt>
          <li style="font-size:75%"><a href="www.adobe.com/PremierePro">Adobe Premiere Pro</a>, <a href="https://www.apple.com/imovie">iMovie</a>, Windows Movie Maker</li>
      </dl>
    </div>

  </div>
</div>
