<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>

      <div class="icons-header">
        <a aria-label="Send email" href="mailto:brenthompson2@gmail.com"><i class="icon fa fa-envelope"></i></a>

        <a aria-label="My LinkedIn" target="_blank" href="https://linkedin.com/in/brenthompson2/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>

        <a aria-label="My Github" target="_blank" href="https://github.com/brenthompson2"><i class="icon fa fa-github-square" aria-hidden="true"></i></a>

        <a aria-label="My Instagram" target="_blank" href="https://instagram.com/brenthompson2"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>

        <!-- <a aria-label="My Facebook" target="_blank" href="https://facebook.com/brendan.thompson.750"><i class="icon fa fa-facebook-square" aria-hidden="true"></i></a> -->
        <!--
        <a aria-label="My Soundcloud" target="_blank" href="https://soundcloud.com/user-838554288"><i class="icon fa fa-soundcloud" aria-hidden="true"></i></a>

        <a aria-label="My Spotify" target="_blank" href="https://open.spotify.com/user/hectert2"><i class="icon fa fa-spotify" aria-hidden="true"></i></a>

        <a aria-label="My Steam" target="_blank" href="https://steamcommunity.com/id/BT22"><i class="icon fa fa-steam-square" aria-hidden="true"></i></a>
        -->
      </div>

      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#projects-featured" data-scroll>Projects</a>
      <a class="link" href="#posts-recent" data-scroll>Posts</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
