<div class="row">
    <nav class="primary">

        <!-- Logo & Title -->
        <div class="three columns">
            <a href="{{ site.url }}">
                <!-- <img src="/assets/img/logos/Joy_Logo_FINAL_No-Words.gif" alt="Continuous Joy Logo" style="margin-top: 10px;"> -->
                <h1>BrenDev</h1>
            </a>
        </div>

        <!-- Links -->
        <ul>
            <li><a href="{{ site.url }}" class="hideOnMobile">Home</a></li>
            <li><a href="{{ site.url }}/posts-page">Posts</a></li>
            <li><a href="{{ site.url }}/projects-page">Projects</a></li>
        </ul>

    </nav>
</div>