
<div class="container">
	<div class="home-title">
	    <h1>Categories</h1>
	</div>

	{% for category in site.categories %}
		{% assign category_name = category | first %}

			<div class="post-display">
				<h2 id="{{ category_name | slugify }}">{{ category_name }}</h2>
			</div>

			<ul class="post-display">
				{% for post in site.categories[category_name] %}
			    <li class="row">
			      	<div class="six columns">
			    	 	<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
			    	 	<p>{{ post.excerpt }}</p>
			      	</div>

			      	<div class="six columns">
			        	<img alt="{{ post.imageAlt }}" src="{{ site.url }}{{ post.image-slider }}">
			      	</div>
			    </li>
				{% endfor %}
			</ul>

	{% endfor %}
</div>