<div class="container">

    <div class="home-details">
        <h3> Featured Projects </h3>
    </div>


    <div class="row home-projects">
        <div class="six columns images">
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/a1Yp0_OP7N0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="six columns">
            <h5> Traffic Cop Hero 1000 </h5>
            <li> Created with Unity game Development Software </li>
            <li> Programmed Scripts in C# </li>
            <li> As a team developed the artwork, music, and gameplay </li>
            <p>Traffic Cop Hero 1000 is a Galaga inspired shooter developed by Brendan Thompson, Griffin Cobb, and Kelsey McCoy for a Transylvania University month long May Term Game Design Class.
            </p>
            <div class="container">
                <div class="six columns">
                    <a class="project-link" href="https://brenthompson2.itch.io/traffic-cop-hero-1000">Official Website</a>
                </div>
                <div class="six columns">
                    <a class="project-link" href="{{ site.url }}/Traffic-Cop-Hero-1000">Project Page</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row home-projects">
        <div class="six columns images">
            <img alt="JUCE" src="{{ site.url }}/assets/img/JUCE.png">
        </div>

        <div class="six columns">
            <h5> Audio Synthesizer Development </h5>
            <ul>
                <li> Audio Programming in C++</li>
                <li> Self Taught JUCE Framework</li>
                <li> Synthesizer Design</li>
            </ul>
            <p>For the summer of 2017 I am using the JUCE framework to develop audio application. So far I have created a basic synthesizer with volume and frequency control. Currently I am struggling to link together the Audio Processing Classes
            </p>
            <div class="container">
                <div class="six columns">
                    <a class="project-link" href="https://github.com/brenthompson2/JUCE-Summer-Project">Github Repository</a>
                </div>
                <div class="six columns">
                    <a class="project-link" href="{{ site.url }}/JUCE-Intro">My JUCE Intro Post</a>
                </div>
            </div>
        </div>
    </div>

</div>
