<!-- Particle Theme Scripts
=================================================-->
	<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

<!-- Flexslider Scripts
=================================================-->
	<!-- Google CDN Hosted jQuery  -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<!-- Flexslider Library  -->
	<script src="/assets/js/flexslider/jquery.flexslider-min.js"></script>
	<!-- Initialisation Code  -->
	<script src="/assets/js/app.js"></script>

<!-- Google Analytics JavaScript
=================================================-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-110222789-1']);
	  _gaq.push(['_setDomainName', 'brendev.co']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
