---
---

// =====================================
// Contents:
//  - Colors
//  - Fonts
//  - Reactive Window Size Mixins
//  - Style For Body
//  - Style For NavBar
//  - Style For Footer
//  - Style For Home Page
//  - Style For Within Posts
//  - Old Style For Within Posts
//  - Style For Flexslider Displays
//  - Style For Basic Display
//  - Style For Reveal Display
//  - Containers & Buttons
//  - Style For Particle Theme Header
// =====================================

// =====================================
// Colors
// =====================================

$main: #1a222c;
$mainAnalogous1: rgba(27, 26, 44, 0.4);
$mainAnalogous2: #1b1a2c;
$mainAnalogous3: #1a2b2c;
$mainTriadic1: rgba(26, 43, 44, 0.2);
$mainTriadic2: rgba(26, 34, 44, 0.2);
$mainTriadic3: rgba(26, 26, 44, 0.2);
$sec: #4B5664;
$purple: #54516A;
$cut: 768px;

// =====================================
// Fonts
// =====================================

@import url('https://fonts.googleapis.com/css?family=Montserrat'); // Headings
@import url('https://fonts.googleapis.com/css?family=Raleway:300'); // Paragraphs

// =====================================
// Reactive Window Size Mixins
// =====================================

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: $tablet-width - 1;

@mixin tablet {  /* 768-1023 */
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {  /* < 768 */
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin desktop { /* > 1024 */
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// =====================================
// Style For Body
// =====================================

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  p {
    font-family: 'Raleway', sans-serif;
  }
  a {
    color: $main;
  }
}

.hideOnMobile {
  @include mobile {
    display: none;
  }
}

// =====================================
// Style For NavBar
// =====================================

nav.primary {
  background: $main;
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 99;
  h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-top: 30px;
    margin-left: 10%;
    position: fixed;
    @include mobile {
      margin-left: 2%;
    }
  }
}

.nav-margin {
  height: 75px;
}

nav.primary ul {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  float: right;
  list-style-type: none;
  margin-top: 35px;
  margin-right: 10%;
  @include mobile {
    margin-right: 2%;
  }
  li {
    position: relative;
    display: inline-block;
    padding: 0px;
    margin-left: 10px;
  }
  li:hover {
    border-bottom: 4px solid #e9e9e9;
  }
  a {
    text-decoration: none;
    color: #fff;
    padding:5px;
    -webkit-transition: border .5s ease-out;
  }
  a.hover {
    border-bottom: 4px solid #e9e9e9;
    cursor: pointer;
  }
}

// =====================================
// Style For Footer
// =====================================

.footer {
    color: #FFF;
    background: $main;
    padding: 10px 0;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px;
    text-align: center;
    @include mobile {
      margin-left: 2%;
    }
    a {
        text-decoration: none;
        margin: 0;
        color: #FFF;
        &:hover{
            color: $sec;
        }
        &:active {
            color: $sec;
        }
    }
}

.footer-heading {
    font-size:1.5em;
    font-family: 'Montserrat', sans-serif;
}

.footer-list {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;

    list-style-type: none;
    margin-bottom: 10px;
    li {
        padding: 10px;
        margin: 0px;
        background: transparent url('/assets/img/design/border-underline.png') left bottom repeat-x;
        color: #fff;
        text-align: left;
        @include mobile {
            font-size: 15px;
            padding: 5px;
        }
    }
    li:before {
        content:"⟩";
        padding-right: 12px;
    }
    li:hover {
        background: #fff;
        color: $main;
        -webkit-animation-name: fadeIn;
        -moz-animation-name: fadeIn;
        -o-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration:0.5s;
        -moz-animation-duration:0.5s;
        -ms-animation-duration:0.5s;
        -o-animation-duration:0.5s;
        animation-duration:0.5s;
    }
    li:hover a {
        color: $main;
    }
}

.footer-bottom-bar {
    text-align: left;
    padding: 0px;
    margin: 0px;
    p {
        padding: 0px;
        margin: 0px;
    }
}

// =====================================
// Style For HomePage
// =====================================

.home {
    font-size: 60px;
    text-align: center;
    margin: 20px auto;
    p {
        font-size: 18px;
        font-weight: 300;
        font-family: 'Raleway', sans-serif;
    }
    h5{
        font-family: 'Montserrat', sans-serif;
    }
    ul{
        font-size:16px;
        text-align:left;
        font-family: 'Montserrat', sans-serif;
    }
    li {
        font-size: 16px;
        font-weight: 300;
        font-family: 'Raleway', sans-serif;
    }
    dl{
        font-size:18px;
        text-align:left;
        font-family: 'Montserrat', sans-serif;
        li {
            font-size: 16px;
        }
    }
    @media only screen and (min-width: $cut) {
        font-size: 75px;
    }
}

.home-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: transparent url("/assets/img/design/header-line.png") repeat-x 0 60%;
    h1, h2, h3 {
        background: #fff;
        display: inline-block;
        padding-right: 12px;
        padding-left: 12px;
    }
}

// =====================================
// Style For Within Posts
// =====================================

.post-layout-header{
    background: $main;
    text-align: center;

    // border-radius: 5px;
    border-top: 2px solid #fff;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.post-layout-header-image {
    img {
        width: 100%;
        height: auto;
    }
}

.post-layout-header-info {
    h1 {
        font-family: 'Montserrat', sans-serif;
    }
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-bottom: 5%;
}

.post-layout-header-tags {
    color: $main;
    padding: 5px;
    background-color: #fff;
    border: 1px solid $main;
    border-radius: 10px;
}

.post-layout-content{
    h3, h5 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    p {
        // text-indent: 50px;
        font-size: 16px;
        font-weight: 300;
        text-align: justify;
        font-family: 'Raleway', sans-serif;
    }
    img {
        width: 100%;
        height: auto;
        text-align: center;
    }

    pre > code {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
}

// Old button
// .post-layout-link {
//   width: 150px;
//   // display: block;
//   margin: 10px 0px 10px 0px;
//   padding: 5px 10px 5px 10px;
//   color: #fff;
//   background-color: $main;
//   border: 1px solid #fff;
//   border-radius: 10px;
//   text-align: center;
//   outline: none;
//   text-decoration: none;
//   cursor: pointer;
//   transition: color 0.3s ease-out,
//               background-color 0.3s ease-out,
//               border-color 0.3s ease-out;
//   &:hover {
//     background-color: $purple;
//     border-color: $purple;
//     color: #fff;
//     transition: color 0.3s ease-in,
//                 background-color 0.3s ease-in,
//                 border-color 0.3s ease-in;
//   }
//   &:active {
//     background-color: $purple;
//     border-color: $purple;
//     color: #fff;
//     transition: color 0.3s ease-in,
//                 background-color 0.3s ease-in,
//                 border-color 0.3s ease-in;
//   }
// }

// =====================================
// Old Style For Within Posts
// =====================================

.post-header{
  text-align: center;
  h1 {
    font-family: 'Montserrat', sans-serif;
  }
  time {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
  }
  img {
    width: 100%;
    height: auto;
  }

}

.post-content{
    h3, h5 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    p {
        // text-indent: 50px;
        font-size: 16px;
        font-weight: 300;
        text-align: justify;
        font-family: 'Raleway', sans-serif;
    }
    img {
        width: 100%;
        height: auto;
        text-align: center;
    }
}

// =====================================
// Style For Flexslider Displays
// =====================================

.flex-design {
  background: $main;
  border-radius: 10px;
  padding: 5%;
  ul > li > a {
    text-decoration: none;
    hr {
      background-color: #fff;
      height: 1px;
      padding: 0px;
      margin: 10px;
    }
  }
  &:hover {
    background: #fff;
    border-color: $main;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -ms-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
    ul > li > a {
      p {
        color: $main;
      }
      hr {
        background-color: $main;
      }
    }
  }
}

.flex-direction-nav a {
  height: 55px;
}

.flex-caption {
  font-size: 18px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: none;

  @include mobile {
  }
}

.flex-caption-title {
  font-size: 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: none;
  margin-bottom: 0px;

  @include mobile {

  }
}

// =====================================
// Style For Basic Displays
// =====================================

.projects-display {
  margin: 40px auto;
  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  iframe {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h5 {
    margin: 0;
  }
  li {
    color: $main;
    font-size: 1.5rem;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
  }
}

.post-display {
  margin: 40px auto;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  iframe {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
  }
  li {
    list-style-type: none;
    margin-left: 0;
    color: $main;
    font-size: 1.1rem;
  }
  p {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
  }
}

.project-link {
  display: block;
  width: 100px;
  margin: 10px 0px;
  padding: 5px;
  color: $main;
  background-color: transparent;
  border: 1px solid $main;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
  &:hover {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
  &:active {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
}

// =====================================
// Style For Reveal Displays
// =====================================

.reveal-display {
    margin-left: 2%;

    @include mobile {
        margin-left: 0px;
    }
}

.reveal-display-item {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin: 2%;
  padding: 0px;

  &:hover .reveal-display-description {
    visibility: visible;
    opacity: 1;

    transition: visibility 0.3s ease-in,
                opacity 0.3s ease-in;
  }
}

.reveal-display-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.reveal-display-description {
    color: #fff;
    background: $main;
    text-align: center;

    padding: 5%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;

    transition: background 0.3s ease-in,
                opacity 0.3s ease-in,
                visibility 0.3s ease-in;
}

.reveal-display-title {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.reveal-display-text {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

// =====================================
// Containers & Buttons
// =====================================

.button-style {

  margin-bottom: 10px;
  padding: 10px;
  background: $main;
  border-radius: 10px;
  border-style: solid;
  text-align: center;

  a {
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }
  a:before {
    content:"⟩";
    padding-right: 12px;
  }
  @include mobile {
    font-size: 15px;
    padding: 5px;
  }
  &:hover {
    background: #fff;
    border-color: $main;
    border-style: solid;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -ms-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
    a {
      color: $main;
    }
  }
}

.button-style-post {
  @extend .button-style;
  width: 50%;
  margin-left: 25%;

}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

// =====================================
// Style Leftover From Particle Theme
// =====================================

.content {
  z-index: 1;
  text-align: center;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .site-title {
    font-size: 50px;
    display: block;
    line-height: 1;
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 100px;
    }
  }
  .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    margin: 5px 0 10px 0;
    @media only screen and (min-width:$cut){
      font-size: 40px;
    }
  }
  .link {
    color: #FFF;
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}

@-webkit-keyframes pulse {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0;
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px;
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0;
    }
}

@keyframes pulse {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
}

#particles-js {
  background: $main;
  display: block;
  vertical-align: bottom;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
    width:100vw !important;
    height:100vh !important;
  }
}

.icons-header {
  display: flex;
  justify-content: center;
  text-align: center;
  .icon {
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 2px;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all .7s;
    &:hover {
      color: $main;
      background: #FFF;
    }
    &:active {
      color: $main;
      background: #FFF;
    }
    @media only screen and (min-width:$cut) {
      width: 35px;
      height: 35px;
      font-size: 35px;
    }
  }
}

.down {
  color: #FFF;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  .icon {
      position: absolute;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      fill: #fff;
      -webkit-animation: pulse 1.3s infinite;
      animation: pulse 1.3s infinite;
      &:hover {
        color: $sec;
      }
      &:active {
        color: $sec;
      }
  }
}




