---
---

// =====================================
// Contents:
//  - Colors
//  - Fonts
//  - Style For Body
//  - Style For NavBar
//  - Style For Footer
//  - Style For Home Page
//  - Style For Within Posts
//  - Style For Posts Display
//  - Containers
//  - Style For Particle Theme Header
// =====================================

// =====================================
// Colors
// =====================================

$main: #1a222c;
$mainAnalogous1: rgba(27, 26, 44, 0.4);
$mainAnalogous2: #1a2b2c;
$mainTriadic1: rgba(26, 43, 44, 0.2);
$mainTriadic2: rgba(26, 34, 44, 0.2);
$mainTriadic3: rgba(26, 26, 44, 0.2);
$sec: #4B5664;
$purple: #54516A;
$cut: 768px;

// =====================================
// Fonts
// =====================================

@import url('https://fonts.googleapis.com/css?family=Montserrat'); // Headings
@import url('https://fonts.googleapis.com/css?family=Raleway:300'); // Paragraphs

// =====================================
// Style For Body
// =====================================

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  p {
    font-family: 'Raleway', sans-serif;
  }
}

// =====================================
// Style For NavBar
// =====================================

nav.primary {
  // clear: both;
  // overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 80px;
  background: $main;
  img {
    margin-left: 20px;
    width: 100px;
    height: auto;
  }
  h1 {
    font-size: 30px;
    color: #fff;
    margin-top: 30px;
    margin-left: 10%;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
}

nav.primary ul {
  list-style-type: none;
  float: right;
  margin-top: 40px;
  margin-right: 10%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  li {
    position: relative;
    display: inline-block;
    padding: 0px 0 10px 0;
    margin-left: 10px;
  }
  li:hover {
    border-bottom: 4px solid #e9e9e9;
  }
  a {
    padding:5px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: border .5s ease-out;
  }
  a.hover {
    border-bottom: 4px solid #e9e9e9;
    cursor: pointer;
  }
}

// =====================================
// Style For Footer
// =====================================

.footer {
  background: $main;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #FFF;
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}

// =====================================
// Style For HomePage
// =====================================

.home {
  text-align: center;
  margin: 20px auto;
  font-size: 60px;
  p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
  }
  h5{
    font-family: 'Montserrat', sans-serif;
  }
  ul{
    font-size:16px;
    text-align:left;
    font-family: 'Montserrat', sans-serif;
  }
  li {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
  }
  dl{
    font-size:16px;
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    li {
      font-size: 75%;
    }
  }
  @media only screen and (min-width: $cut) {
    font-size: 75px;
  }
}

.home-title {
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

// =====================================
// Style For Within Posts
// =====================================

.post-content{
  // text-align: center;
  h1, h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  time {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
  }
  img {
    text-align: center;
  }
}

// =====================================
// Style For Post Display
// =====================================

.post-display {
  margin: 40px auto;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  iframe {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h3 {
    margin: 0;
  }
  li {
    list-style-type: upper-roman;
    margin-left: 0;
    color: $main;
    font-size: 1.1rem;
  }
  p {
    margin-right: 5px;
    color: $mainAnalogous1;
  }
}

.project-link {
  display: block;
  width: 100px;
  margin: 10px 0px;
  padding: 5px;
  color: $main;
  background-color: transparent;
  border: 1px solid $main;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
  &:hover {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
  &:active {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
                background-color 0.3s ease-in,
                border-color 0.3s ease-in;
  }
}

// =====================================
// Containers
// =====================================

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

// =====================================
// Style Leftover From Particle Theme
// =====================================

.content {
  z-index: 1;
  text-align: center;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .site-title {
    font-size: 50px;
    display: block;
    line-height: 1;
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 100px;
    }
  }
  .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    margin: 5px 0 10px 0;
    @media only screen and (min-width:$cut){
      font-size: 40px;
    }
  }
  .link {
    color: #FFF;
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}

@-webkit-keyframes pulse {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0;
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px;
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0;
    }
}

@keyframes pulse {
    from {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px
    }
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }
}

#particles-js {
  background: $main;
  display: block;
  vertical-align: bottom;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
    width:100vw !important;
    height:100vh !important;
  }
}

.icons-header {
  display: flex;
  justify-content: center;
  text-align: center;
  .icon {
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 2px;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all .7s;
    &:hover {
      color: $main;
      background: #FFF;
    }
    &:active {
      color: $main;
      background: #FFF;
    }
    @media only screen and (min-width:$cut) {
      width: 35px;
      height: 35px;
      font-size: 35px;
    }
  }
}

.down {
  color: #FFF;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  .icon {
      position: absolute;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      fill: #fff;
      -webkit-animation: pulse 1.3s infinite;
      animation: pulse 1.3s infinite;
      &:hover {
        color: $sec;
      }
      &:active {
        color: $sec;
      }
  }
}




