---
layout: page
image_sliders:
    - posts_recent
    - projects_featured
---

{% include header.html %}

<section id="about">
    {% include about.html %}
</section>

<div class="container row">

    <!-- Projects Display -->
    <div class="six columns">
        <section id="projects-featured">
            <div class="home-title">
                <h3>Featured Projects</h3>
            </div>
            {% include displays/projects-flexslider.html %}
            <p class="button-style"><a href="{{ site.url }}/projects">See All Projects</a></p>
        </section>
    </div>

    <!-- Posts Display -->
    <div class="six columns">
        <section id="posts-recent">
            <div class="home-title">
                <h3>Recent Posts</h3>
            </div>
            {% include displays/posts-flexslider.html %}
            <p class="button-style"><a href="{{ site.url }}/posts">See All Posts</a></p>
        </section>
    </div>

</div>