---
layout: page
image_sliders:
    - posts_recent
    - projects_featured
---

{% include header.html %}

<div class="container row">
    <div class="six columns">
        <section id="projects-featured">
        {% include displays/projects-flexslider.html %}
        </section>
    </div>

    <div class="six columns">
        <section id="posts-recent">
        {% include displays/posts-flexslider.html %}
        </section>
    </div>

<section id="about">
    {% include about.html %}
</section>

</div>